<?xml version="1.0" encoding="utf-8"?>
<!--
<copyright file="packages.config" company="Public Domain">
    Copyright (c) 2019 Nelson Garcia. All rights reserved. Licensed under
	GNU Affero General Public License. See LICENSE in project root for full
	license information, or visit https://www.gnu.org/licenses/#AGPL
</copyright>
-->

<packages>
  <package id="StyleCop.Analyzers" version="1.1.1-beta.61" targetFramework="net472" developmentDependency="true" />
  <package id="StyleCop.Analyzers.Unstable" version="1.1.1.61" targetFramework="net472" developmentDependency="true" />
</packages>
