<?xml version="1.0" encoding="utf-8" ?>
<!--
<copyright file="App.config" organization="Maseya">
    Copyright (c) 2026 spel werdz rite. All rights reserved. Licensed
	under GNU Affero General Public License. See LICENSE in project
	root for full license information, or visit
    https://www.gnu.org/licenses/#AGPL
</copyright>
-->

<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Brutario.Win.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Brutario.Win.Properties.Settings>
            <setting name="AutoSaveEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoSaveInterval" serializeAs="String">
                <value>00:05:00</value>
            </setting>
            <setting name="AutoSavePruningCutoff" serializeAs="String">
                <value>04:00:00</value>
            </setting>
            <setting name="AutoSaveHardCutoff" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoSavePruningEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EmulatorPath" serializeAs="String">
                <value />
            </setting>
            <setting name="LoadLastOpenedRom" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AnimationsEnabled" serializeAs="String">
                <value>False</value>
            </setting>
        </Brutario.Win.Properties.Settings>
    </userSettings>
</configuration>